body {
    
    background-color: rgba(248, 235, 235, 0.405);

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

font-size: 12px;

max-width: 1060px;

margin: auto;

}
.container{
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
header {
text-align: center;
margin: auto 2em;
}

section {text-align: center;
margin: auto 1em 4em 2em;
}

p {text-align: center;
margin: .2em auto
}

hr {text-align: center;
border: none;
background-color: lightgray;
height: 1px;
}

h1, h2, h3 {text-align: center;
    background-color: rgba(202, 110, 110, 0.093);
font-weight: 100;
margin-bottom: 0;
}



h1 {text-align: center;
    background-color: rgba(255, 255, 255, 0.284);
font-size: 3em;
letter-spacing: .6em;
padding-top: 1em;
padding-bottom: 1em;
}

h2 {text-align: center;
font-size: 1.5em;
padding-bottom: 1em;
}

h3 {text-align: center;
font-size: 1em;
padding-bottom: 1em;
}

